extends layout
block content
  .loading
    .branding
      .login
        form.needs-validation(method='POST' action='/login')
          .form-group
            input.form-control(type='text' name='username' placeholder='AO Username' maxlength="50" minlength="5"
            pattern="^[a-zA-Z0-9_.-]*$" required='required')
            .invalid-feedback Please input your username.
            input(type='password' name='password' placeholder='Password' required='required')
            .invalid-feedback Password input can't be empty.
          button.btn.btn-primary.btn-block.btn-large(type='submit') Login