extends layout
block content
    #foot.container.listing-reg
      h2(style='text-align: center') FARMER-ONE Sign Up form.
      h5(style='text-align: center;color:red;')
        | *Only filled by Agricultural officer*
      form.was-validated(name='regFarmerOne' action='/users/regFarmerOne' method='POST')
        .row
          .form-group.col-xs-6
            .form-group  
              label(for='firstName') First Name:
              input.form-control(type='text' placeholder='Please input farmerOne First name.' name='firstName' maxlength="50" minlength="5"
            pattern="^[a-zA-Z0-9_.-]*$" required="")
              .invalid-feedback First name should be 5-50 characters
          .form-group.col-xs-6
            .form-group
              label(for='lastName') Last Name:
              input.form-control(type='text' placeholder='Please input farmerOne Last name.' name='lastName' maxlength="50" minlength="5"
            pattern="^[a-zA-Z0-9_.-]*$" required="")
              .invalid-feedback Last name should be 5-50 characters
        .row
          .form-group.col-xs-6
            .form-group
              label(for='idnumber') ID:
              input.form-control(type='number' placeholder='assign unique ID' name='idnumber' required="")
              .invalid-feedback Please input custom ID.
          .form-group.col-xs-6
            .form-group
              label(for='ward') Ward:
              input.form-control(type='text' placeholder='ward represented' name='ward' required="")
              .invalid-feedback Fill in the ward you come from.
        .row
          .form-group
            fieldset
              .form-group.col-xs-2
              legend(for='gender') Gender:
              .form-group.col-xs-2
                .form-check
                  input#male.form-check-input(type='radio' name='gender' value='male')
                  label.form-check-label(for='male')  Male 
              .form-group.col-xs-2
                .form-check
                  input#female.form-check-input(type='radio' name='gender' value='female')
                  label.form-check-label(for='female')  Female 
        .row
          .form-group.col-xs-6
            .form-group
              label(for='dateOfReg') Date of Registration:
              input.form-control(type='date' placeholder='date of registration' name='dateOfReg' required="")
              .invalid-feedback DOR can't be empty.
          .form-group.col-xs-6
            .form-group
              label(for='dateOfBirth') Date of Birth:
              input.form-control(type='date' placeholder='date of birth' name='dateOfBirth' required="")
              .invalid-feedback DOB can't be empty.
        .row
          .form-group.col-xs-6
            label(for='NIN') NIN:
            input.form-control(type='text' placeholder='National identification number' name='NIN' maxlength="13" minlength="13"
            pattern="^[a-zA-Z0-9_.-]*$" required="")
            .invalid-feedback Input valid National Identification number.
          .form-group.col-xs-6
            label(for='phone') Mobile Number:
            input.form-control(type='number' placeholder='phone number' name='phone' required="")
            .invalid-feedback Urban farmer contact required.
        .row
          .form-group.col-xs-6
            label(for='address') Home Address:
            input.form-control(type='text' placeholder='place of residence' name='address' required="")
            .invalid-feedback Urban farmer address required.
          .form-group.col-xs-6
            label(for='residence') Residence type:
            input.form-control(type='text' placeholder='' name='residence')
          .form-group.col-xs-6
            label(for='stay') Period of stay:
            input.form-control(type='number' placeholder='must have lived for more than 10 years & above' name='stay' required="")
            .invalid-feedback Urban farmer period in the ward should be more than 10 years.
        .text-center
          button.btn.btn-primary(class='button' href='/register') Register
