extends layout
block content
  #foot.container
    h2(style='text-align: center') Urban Farmer Sign Up form.
    h5(style='text-align: center; color:red;')
      | *Only filled by FarmerOne officer*
    form(name='regUrbanFarmer' action='/users/regUrbanfarmer' method='POST')
      .row
        .form-group.col-xs-6
          label(for='firstName') First Name:
          input.form-control(type='text' placeholder='first name should be 5-50 characters' name='firstName')
        .form-group.col-xs-6
          label(for='lastName') Last Name:
          input.form-control(type='text' placeholder='last name should be 5-50 characters' name='lastName')
      .row
        .form-group.col-xs-6
          .form-group
            label(for='idnumber') ID:
            input.form-control(type='number' placeholder='assign unique ID' name='idnumber')
        .form-group.col-xs-6
          .form-group
            label(for='ward') Ward:
            input.form-control(type='text' placeholder='ward represented' name='ward')
      .row
        .form-group
          .form-group.col-xs-2
            label(for='gender') Gender:
          .form-group.col-xs-2
            .form-check
              input#male.form-check-input(type='radio' name='gender' value='male')
              label.form-check-label(for='male')  Male 
          .form-group.col-xs-2
            .form-check
              input#female.form-check-input(type='radio' name='gender' value='female')
              label.form-check-label(for='female')  Female 
      .row
        .form-group.col-xs-6
          .form-group
            label(for='dateOfReg') Date of Registration:
            input.form-control(type='date' placeholder='date of registration' name='dateOfReg')
        .form-group.col-xs-6
          .form-group
            label(for='dateOfBirth') Date of Birth:
            input.form-control(type='date' placeholder='date of birth' name='dateOfBirth')
      .row
        .form-group.col-xs-6
          label(for='NIN') NIN:
          input.form-control(type='text' placeholder='National identification number' name='NIN')
        .form-group.col-xs-6
          label(for='phone') Mobile Number:
          input.form-control(type='number' placeholder='phone number' name='phone')
      button.btn.btn-primary(type='submit' name='submit' onclick='validate()' style='text-align: center') Register
        a(href="/users/urbanFarmers")