extends layout
block content
    h3 *Please update FarmerOne information here*
        form(method="POST" action="/users/update?id="+farmer._id)
            table.table
                thead.thead-light
                    tr
                        th Firstname
                        td 
                            input.form-control(value = farmer.firstName name ="firstname" readonly)
                    tr
                        th Lastname
                        td 
                            input.form-control(value = farmer.lastName name ="lastname" readonly)
                    tr
                        th Ward
                        td 
                            input.form-control(value = farmer.ward name ="ward")
                    tr
                        th Phone No
                        td 
                            input.form-control(value = farmer.phone name ="phone")
                    tr
                        th Gender
                        td 
                            label Male&nbsp
                            input(value= "male" type="radio" checked = farmer.gender==="male" name="gender" readonly) 
                            label &nbspFemale&nbsp
                            input(value= "female" type="radio" checked = farmer.gender==="female" name="gender" readonly)
                    tr
                        th Address
                        td 
                            input.form-control(value = farmer.address name ="address" readonly)
                    tr 
                        td(colspan="2")
                            button.btn.btn-dark.btn-block(type="submit") Update
