extends layout
block content
  #foot.container.listing-reg
    form.form-horizontal.was-validated(name='upload' action='/' method='POST' enctype="multipart/form-data" novalidate)
      h3 Ufarm-product Upload
      h6.text-danger *Only registered Ufarm Urban farmers are authorised to upload produce*
      .row
        .form-group.col-xs-6
          label.control-label(for='product_id') Product ID
          input#product_id.form-control.input-md(name='product_id' placeholder='input Unique ID' required='required' type='text')
          .invalid-feedback Product ID can't be empty.
        .form-group.col-xs-6
          label.control-label(for='product_name') Product Name
          input#product_name.form-control.input-md(name='product_name' placeholder='name of produce' required='' type='text')
          .invalid-feedback Please input product name.
        .form-group.col-xs-6
          label.control-label(for='product_quantity') Product Quantity(Kg)
          input#product_quantity.form-control.input-md(name='product_quantity' placeholder='units of product in stock' required='' type='number')
          .invalid-feedback Please input product available.
      .row
        .form-group.col-xs-6
          label Produce type:  &nbsp
            label.form-check.form-check-inline 
              span.form-check-label Organic     &nbsp
              input.form-check-input(type="checkbox" name="produce_type" value="Organic")
            label.form-check.form-check-inline 
              span.form-check-label Inorganic   &nbsp
              input.form-check-input(type="checkbox" name="produce_type" value="Inorganic")
        .form-group.col-xs-6
          label Produce Availability:  &nbsp
            label.form-check.form-check-inline 
              span.form-check-label Available    &nbsp
              input.form-check-input(type="checkbox" name="produce_availability" value="Available")
            label.form-check.form-check-inline 
              span.form-check-label Out of stock   &nbsp
              input.form-check-input(type="checkbox" name="produce_availability" value="N/A")
      .row
        .form-group.col-xs-6
          label.control-label(for='price') Price(Ugx) per Kg
          input#price.form-control.input-md(name='price' placeholder='price for each Kg' required='' type='number')
          .invalid-feedback Input price for each kg.
        .form-group.col-xs-6
          label.control-label(for='ward') Ward
          input#ward.form-control.input-md(name='ward' placeholder='ward you come from' required='' type='text')
          .invalid-feedback Please input ward you come from.
      .row
        .form-group
          label.control-label(for='directions' placeholder='Directions to pickup location') Directions
          textarea#directions.form-control(name='directions')
      .row
        .form-group.col-xs-6
          label.form-check.form-check-inline  Mode of payment:  &nbsp
            span.form-check-label Cash     &nbsp
            input.form-check-input(type="checkbox" name="Mode_of_payment" value="Cash")
          label.form-check.form-check-inline 
            span.form-check-label Mobile money   &nbsp
            input.form-check-input(type="checkbox" name="Mode_of_payment" value="Mobile money")
        .form-group.col-xs-6
          label.form-check.form-check-inline  Mode of Delivery:  &nbsp
            span.form-check-label Pick up     &nbsp
            input.form-check-input(type="checkbox" name="Mode_of_delivery" value="Pick up")
          label.form-check.form-check-inline 
            span.form-check-label home delivery   &nbsp
            input.form-check-input(type="checkbox" name="Mode_of_delivery" value="home delivery")
      .row
        .form-group.col-xs-6
          label.control-label(for='phone') Mobile Number
          input#product_id.form-control.input-md(name='phone' placeholder='input mobile number' required='' type='text')
          .invalid-feedback Input contact number for this product.
        .form-group.col-xs-6
          label.control-label(for="file" ) Product image
          input#filebutton.input-file.border(name="image"  accept="image/*" type="file" required='')
          .invalid-feedback Please upload image of the produce.
      .form-group
      button#upload.btn.btn-primary(name='upload' type="submit" href='/') Upload
