nav {
  background-color: #0b0d18;
}
footer {
  background-color: #0b0d18;
  position: float;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  color: white;
  text-align: center;
}
#foot.container.listing-reg {
  background-color: rgb(223, 219, 219);
  opacity: 0.85;
  border-radius: 25px;
  background-repeat: repeat;
  padding: 30px;
  max-width: 70%;
  margin: auto;
  width: 85%;
  height: 45%;
  color: #052a8f;
  border: 0.08em solid rgb(243, 241, 241);
}
.form-control::-webkit-input-placeholder {
  color: rgb(99, 128, 57);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: url("../img/ufarmImage4.jpg");
}

.listing-reg h1 {
  text-align: center;
  margin: 0 0 2rem;
}
/* adding style for upload */
.fluid-container {
  text-align: center;
  font-size: 14px;
  line-height: 85%;
  padding: 1%;
}

/* img {
  width: 95px;
  height: 95px;
} */

.fas.fa-directions {
  font-size: 20px;
}

a:visited {
  color: blue;
}

img {
  height: 175px;
  width: 100%;
}

.item {
  padding-left: 5px;
  padding-right: 5px;
}
.item-card {
  transition: 0.5s;
  cursor: pointer;
  padding: 1%;
}
.item-card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.item-card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-text {
  height: 80px;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: 0 none;
  font-family: "Open Sans";
  padding: 0;
}

.login {
  width: 300px;
  margin: 0 auto;
  background-color: white;
  opacity: 0.85;
  border-radius: 25px;
  background-repeat: repeat;
  padding: 30px;
  max-width: 50%;
  width: 50%;
  height: 50%;
  color: #fafafa;
  border: 0.08em solid rgb(243, 241, 241);
}
.login form {
  width: 100%;
}
input {
  background: none repeat scroll 0 0 rgba(15, 15, 15, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 10px;
  outline: medium none;
  padding: 10px;
  width: 100%;
}

button {
  background: linear-gradient(to bottom, #009eff 0px, #0075bc 100%) repeat
    scroll 0 0 transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 0 #e6f5ff inset;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  width: 100%;
}
fieldset {
  background-color: rgb(217, 233, 78);
  max-width: 120%;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px 6px 6px 6px;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.form-check-input {
  margin: auto;
}
